.container {

    margin: auto;
    width: 400px;
    height: 400px;
    z-index: 2;


}

.main {
    width: 300px;
    height: 300px;
    position: fixed;
    z-index: 1;

}


.container h1 {
    position: relative;
    left: 90px;
    top: 150px;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
    transform-origin: top left;
    transition-duration: 1s;
}

.main:hover~.red {
    transform: rotate(90deg);
}

.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    left: 100px;
    bottom: 100px;
    transform-origin: top right;
    transition-duration: 1s;

}

.main:hover~.yellow {
    transform: rotate(-90deg);
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    bottom: 100px;
    transform-origin: bottom left;
    transition-duration: 1s;
}


.main:hover~.blue {
    transform: rotate(-90deg);
}

.green {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    left: 100px;
    bottom: 200px;
    transform-origin: bottom right;
    transition-duration: 1s;
}

.main:hover~.green {
    transform: rotate(90deg);
}