.weatherBg {
  /* background: url(./img/weather-2.jpg); */
  background: url(https://a-static.besthdwallpaper.com/clouds-lightning-sky-background-wallpaper-2048x1152-81218_49.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.heading {
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
}

.weatherResultBox {
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: #FEFCFF;
}

.weatherIcon {
  width: 100px;
  height: 100px;
  margin-top: 2rem;
}

.weathrerCity {
  font-size: 2rem;

}

.weatherTemp {
  font-size: 4rem;
  font-weight: 700;
}

.background {
  background-color: #FEFCFF;
  height: 100vh;
}

.btn {
  width: 20vw;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}