* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80vw;
    box-sizing: border-box;
    overflow: hidden;
    background: #f4f4f4;
    padding: .8rem;
    line-height: 1.2;
}

/* Top Section  */
.top-section {
    margin-top: 15px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    border: 2px solid greenyellow;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-decoration: underline;
    color: blueviolet;

}



.head-content {
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
    margin: 5px auto;
    font-weight: 400;
}

/* Main - Section Articles  */
main .articles {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;


}

.articles article {
    max-width: 45%;
    text-align: justify;
    font-size: 1.1rem;

}

.articles article h2 {
    font-size: 2.2rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;

}

.articles div {
    width: 45%;
    position: absolute;
    top: 35vh;
    height: 60vh;
}

.articles div img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*  main  - Form */
main .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main .container form {

    font-size: 1.5rem;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

main .container form .form div,
form .feedback div {
    margin-bottom: 1rem;

}

form input,
select,
textarea {
    margin-left: .5rem;
    border-radius: .1rem;
}

form .feedback {
    align-self: flex-end;
}

form #comment-2 {
    display: none;
}


form button {
    font-size: 1.4rem;
    padding: 8px;
    background: rgb(2, 171, 47);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 300;
}

form button:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Footer */
footer {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;

}

footer a {
    text-decoration: none;
    color: grey;
}

footer .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



footer b {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

@media(max-width:768px) {
    .top-section {
        font-size: 1.5rem;
        padding-bottom: 2px;
    }

    .head-content {
        font-size: 1.2rem;
        font-weight: lighter;

    }

    main .articles {
        flex-direction: column;
        justify-content: centers;
        width: 100%;

    }

    .articles article {
        max-width: 100%;
    }

    main .articles div {
        width: 100%;
        position: static;

    }

    main .container form {
        flex-direction: column;
        justify-content: center;
    }

    form .feedback {
        align-self: flex-start;
    }

    form #comment-1 {
        display: none;
    }

    form #comment-2 {
        display: block;
    }




    footer b {
        flex-direction: column;
    }

    footer b i span {
        display: none;
    }
}